/* style.sass */
.skin-green .main-header .logo {
  background-color: red;
}

/* logo when hovered */
.skin-green .main-header .logo:hover {
  background-color: red;
}

.skin-green .main-header .navbar {
  background-color: red;
}

.skin-green .sidebar-menu > li.active > a {
  border-left-color: red;
}
