/* style.css */


/* bs4DashBrand title custom */

#tabs > a{
  text-align:center;
  font-weight:bold;
  font-family:Monospace,Verdana;
}

/* Colors widget text in the sidebar (differs from the dash' body) */
#sidebarItemExpanded > div.os-padding > div > div{
  color: #bec5cb;
}

/* Custom class for sliderInputs (go green for labs and slider) */

.customSliderInput .irs--shiny .irs-bar {
   background: #3A862D;
   border-top: #3A862D;
   border-bottom: #3A862D;
}
/* Label colors of 'from' and 'to' labels*/

.customSliderInput .irs--shiny .irs-from,
.customSliderInput .irs--shiny .irs-to{
  background-color:#3A862D;
}


/* Remove minor ticks of sliderInput class */
.customSliderInput .irs-grid-pol.small{
  height: 0px;}

.customSliderInput .irs--shiny .irs-grid-pol{
  background-color:#bec5cb;
}

/* Prod techs widget in sidebar: display text in black */
#inputs_1-prod_year_n_techs > div.form-group.shiny-input-container > div > button{
  color:black;
}


/* Select/Unselect buttons for technologies select input: */
/* same colors as selectizeInput selected items : lightgrey background, darkgrey text*/
#inputs_1-prod_year_n_techs > div:nth-child(2) > div > div > div.bs-actionsbox > div > button{
  background-color: #efefef;
  color: #4f4f4f;
}

/*Increase generic font size*/
body {
    font-size: 1.35em;
}

/*Increase sidebar text size */
#sidebarItemExpanded > ul > li{
  font-size:1em;
}

/*Change the shinyalert (sweet-alert) popup text display style*/
body > div.sweet-alert.alert-size-s.showSweetAlert.visible > p{
  text-align: center;}


/*Change map height to full height (100vh) minus header height (50px)+padding(15px)+title(20px)*/
#map {
    height: calc(100vh - 150px) !important;
}

/*Remove padding of column holding the stats boxes in tabMap*/
#shiny-tab-tabMap > div:nth-child(1) > div.col-sm-4{
  padding-left:0px;
}

/* Affects all the pre elements (stands for PREformatted text elements) rendered by renderText() */
pre {
  color: black;
  background-color: white;
  font-size:14px;
  font-weight:bold;
}

/* custom class for shiny download buttons */
.btn.dlButton{
  width:175px;
  color:#3A862D;
  background-color:white;
}

/* custom class for info actionButtons (app_ui.R) */
.btn.infoButton{
  color:#3A862D;
  background-color:white;
}


/* custom class for shinywidget prettyRadioButtons (plot/table types selections)*/

.btn.radiobtn{
  background-color:white;
}
.btn.radiobtn.active{
  border-width: 1.5px;
  border-color:#3A862D;
}
.btn.radiobtn.btn:hover{
  background-color:#F5F5F5;
}


/* custom class for Excel/csv buttons of datatable. We must remove initial background gradient rst.*/
div.dt-buttons > button.dt-button.buttons-csv.buttons-html5,
div.dt-buttons > button.dt-button.buttons-excel.buttons-html5{
  width:70px;
  background:none;
  background-color:white;
  color:darkgreen;
}


/* targets the notifications of shiny::showNotification() (rendering the rmd report for instance)*/
.shiny-notification {
  position:fixed;
  top: calc(60%);
  left: calc(50%);
}

/* Class mandatory for the prettyRadioButtons in the header (mod_unit_converter.R)*/
.dropdown{
  margin-top:9px;
  color:white;
  font-size:1rem;
}

