/*Change font and size in dashboardHeader title*/
.main-header .logo {
  font-family: "Aharoni";
  font-weight: bold;
  font-size: 20px;
}

/*Change dropdownBlock width for units*/
a.dropdown-toggle{
  width:200px;
}

