
/* info_dev_message() custom class*/
.sweet-alert > p{
  font-size:1.2rem !important;
}

/* position sweet alert slightly more on top */
.sweet-alert{
  top:45% !important;
}

.shiny-notification{
  position:fixed;
  top: calc(50%);
  left: calc(40%);
  width:20vw;
  text-align:center;
}

/* shiny::fileInput() generates a progress bar once the file is uploaded with 'Upload complete' text */
/* we can't easily overwrite the text so we turn it to transparent so nobody can see it ;) */
.progress-bar {
  color: transparent!important
}

/* Add bottom margin to avoid overlapping of main content and footer, and override default padding for main container of 1rem*/
.main{
  margin-bottom:20px;
  padding:0.75rem !important;
  padding-bottom:0.1rem !important;
}

/* Add left margin to preexisting navbar-nav class (bootstrap) */
.navbar-nav{
  margin-left: 3%;
}

/*For laptop screens (lg <-> xl): adapt font-size of navbar items (1.15rem is default's h5)*/
@include media-breakpoint-up(lg){
  .navbar-nav{
    font-size:calc(min(1.25vw, 1.15rem));
  }
}

.adaptiveTitle{
  text-wrap: wrap;
  font-family: 'Tahoma', sans-serif;
  font-size:22px;
  font-weight:500;
}


/* Remove SelectizeInput's shadow when .focus is on */
.selectize-input.focus{
  border-color:black !important;
  box-shadow:none !important;
}

/* sliderInputs major ticks color */
.irs-grid-pol{
  background:lightgrey !important;
}

/* sliderInputs minor ticks remove */
.irs-grid-pol.small{
  display: none !important;
}

/* Invert logo color, set height and align left*/
.customLogo{
    filter: brightness(0) invert(1);
    height:5vh;
    align:left;
}

.customTooltips{
  max-width:none;
}


/* Change color of nav's unselected links (and hovering) with full white instead of light grey, more visible */
#nav{

  .nav-link{
  color:white;

  &:hover{
    color:white;
  }
  }

}

/*
.map-sm{

  	@include media-breakpoint-down(sm){
	max-height:200px;
}
}
*/


/* GRADIENTS COMMENTED OUT FOR NOW
Gradient for navbar with multibrowser compatibility
.navbar{
  /* fallback for old browsers
    background: #3a3440;

    /* Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient(90deg, rgba(58,52,64,1) 0%, rgba(58,134,45,1) 50%, rgba(58,134,45,1) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient(90deg, rgba(58,52,64,1) 0%, rgba(58,134,45,1) 50%, rgba(58,134,45,1) 100%);
}
*/


/*Invert the color of the svg arrow icon when the accordion is open */
/* see : https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */
.accordion-button:not(.collapsed)::after {
    filter: invert(50%);
}


/*Used for mod_inputs.R unit converter widget : we change the orientation since the widget is as bottom of sidebar*/

.rotatedSVG{

  .accordion-button.collapsed::after{
    transform:rotate(-180deg) !important;
  }

  .accordion-button::after{
    transform:rotate(0deg);
  }
}


/* add grid property to sidebar so that mod_unit_converter can be added below with margin-top:auto; property */
.sidebar{
  display: grid;
}

.sidebar-content{
  padding-top:15px !important;
}

.sidebar_na_list{
  list-style: none;
  padding-left:10%;
}

.fs-sidebar{
  font-size:0.9rem;
}

.fs-sidebar-header{
  .accordion-title{
    font-size:1rem;
  }
}

/*On large media : 70% width to allow title space ; on smaller media 100% width to maximize screen space*/
.customAccordion{
	@include media-breakpoint-up(lg){
	width: 65% !important;

  /* Change default's collapsed state border with primary color*/

	.collapsed {
	  border-style: solid;
	  border-width: 1px !important;
	  border-color: #3A862D !important;

	}
}

}

/* Remove default's bottom margin for <p> elements. Used in fct_helpers.R (generate_doc_accordion_panels()) */
.customPanel p{
  margin-bottom:0 !important;
}

.dropdown-menu{
  background-color:#3A862D;
  .dropdown-item{
    color:white;
  }

  .dropdown-header{
    color:white;
  }
}


/* Div backgrounds with icons used in mod_stats_box.R for each type of make_statbox_item() call*/
/* For a new icon : go to https://icons.getbootstrap.com/, paste the desired icon 'Copy HTML' text, paste it in the <svg> balises */
/* Then modify color/opacity with the 'fill = "rgba(x,y,z,a)"' argument in the <svg> call */

.iconBgElec{
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 185, 15, 0.1)" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16"><path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
}

.iconBgRgr{
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(205, 92, 92, 0.1)" class="bi bi-fire" viewBox="0 0 16 16"><path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
}

.iconBgSubs{
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(11, 156, 49, 0.1)" class="bi bi-house-fill" viewBox="0 0 16 16"><path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1 .5.5 0 0 0-.5.5v1.293z"/><path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
}

/*Used to narrow the otherwise large download buttons in mod_download_rmd (called with btn-primary class in the code) */
.btnCustomWidth{
  width:50%;
}

/*When sidebar is collapsed, make the deploy arrow more visible*/
.bslib-sidebar-layout.sidebar-collapsed>.collapse-toggle{
  background-color: rgba(58, 134, 45, 0.5);

}


.card-header{
  background-color:transparent;
}
